autoflake==2.3.1
beautifulsoup4==4.12.3
bs4==0.0.2
certifi==2024.8.30
charset-normalizer==3.4.0
filelock==3.16.1
fsspec==2024.9.0
fuzzywuzzy==0.18.0
huggingface-hub==0.25.2
idna==3.10
isort==5.13.2
numpy==2.1.2
packaging==24.1
pandas==2.2.3
pyflakes==3.2.0
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
regex==2024.9.11
requests==2.32.3
ruff==0.6.9
safetensors==0.4.5
six==1.16.0
soupsieve==2.6
tokenizers==0.20.1
tqdm==4.66.5
transformers==4.45.2
typing_extensions==4.12.2
tzdata==2024.2
urllib3==2.2.3
